{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gregory C. Lazin</title>

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Goudy+Old+Style:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!--<link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>-->

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />

    <!--<link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>-->
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}" />

    <!-- Plugin CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}" />

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/creative.css' %}" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <header>
      <p>&nbsp;</p>
      <p>&nbsp;</p>

      <h1 style="margin-left: 33%; margin-right: 33%; font-size: 65px; -webkit-text-stroke: 0.35px black; text-shadow: 2px 2px 0 #000,
                                                                                 -1px -1px 0 #000,  
                                                                                  1px -1px 0 #000,
                                                                                  -1px 1px 0 #000,
                                                                                   1px 1px 0 #000;">
        <a href="{% url 'base_site' %}">
        Gregory C. Lazin
        </a>
        </h1>

      <h2 style="font-size: 30px; -webkit-text-stroke: 0.35px black; text-shadow: 2px 2px 0 #000,
                                                                               -1px -1px 0 #000,  
                                                                                1px -1px 0 #000,
                                                                                -1px 1px 0 #000,
                                                                                 1px 1px 0 #000;">
      Professional Law Corporation
      </h2>

    <h2 style="font-size: 44px; -webkit-text-stroke: 0.35px black; text-shadow: 2px 2px 0 #000,
                                                                                         -1px -1px 0 #000,
                                                                                          1px -1px 0 #000,
                                                                                          -1px 1px 0 #000,
                                                                                           1px 1px 0 #000;">Contact</h2>

    <div id="'container" style="width: 100%; margin-top: 3.5%; height: 475px;">
        <div id="'google-maps" style="width: 50%; float: left;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2647.705812123158!2d-123.3607926840226!3d48.42379197924726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDjCsDI1JzI1LjYiTiAxMjPCsDIxJzMxLjAiVw!5e0!3m2!1sen!2sca!4v1474510309506" width="510" height="382" frameborder="0" style="margin-left: 30%; margin-top: 1%;" allowfullscreen></iframe>
        </div>

        <div class="opaque-verbiage-box" id="contact-info" style="width: 25%; float: left; margin-left: 4%;">
{#            <h4 class="verbiage" style="font-size: 35px; float: right;margin-top: 5%; padding: 40px; width: 75%; line-height: 50px; text-align: left">#}
{#                    #200, 931 Fort Street, Victoria, BC, V8V 3K3#}
{#                    <br>#}
{#                    T: (Alberta) (780) 488-8848#}
{#                    <br>#}
{#                    &nbsp;&nbsp;&nbsp;&nbsp;(BC) (250) 588-6858#}
{#                    <br>#}
{#                    F: (778) 265-8387#}
{#                    <br>#}
{#                    E: greg@lazin.ca#}
{#            </h4>#}
            <h4 class="contact-verbiage">
                #200, 931 Fort Street
                <br>
                Victoria, BC, V8V 3K3
                <br>
                T: (AB) (780) 488-8848
                <br>
                T: (BC) (250) 588-6858
                <br>
                F: (778) 265-8387
                <br>
                E: greg@lazin.ca
            </h4>
        </div>
    </div>

    <div id="button" style="width: 100%;">
        <a href="{% url 'services' %}" class="btn btn-primary btn-xl page-scroll" style="height: 85px; width: 200px; position: relative; text-align: center;">
            <h4 class="back-btn" style="margin-top: 12.5%;">
            Back
            </h4>
        </a>
    </div>

    </header>

    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static "js/jquery.easing.min.js" %}"></script>
    <script src="{% static "js/jquery.fittext.js" %}"></script>
    <script src="{% static "js/wow.min.js" %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static "js/creative.js" %}"></script>

    <!-- Contact Form JavaScript -->
    <!-- Do not edit these files! In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <script src="{% static "js/jqBootstrapValidation.js" %}"></script>
    <script src="{% static "js/contact_me.js" %}"></script>

</body>

</html>
